.gamer_banner{

    &_container{

        width: 98.6vw;
        height: 32vh;
        background: rgb(245,58,223);
        background: -moz-linear-gradient(270deg, rgba(245,58,223,1) 0%, rgba(78,199,224,1) 100%);
        background: -webkit-linear-gradient(270deg, rgba(245,58,223,1) 0%, rgba(78,199,224,1) 100%);
        background: linear-gradient(270deg, rgba(245,58,223,1) 0%, rgba(78,199,224,1) 100%);
        display: flex;
        flex-direction: row;
        // align-items: center;
    
    }

    &_image{

        height: 78%;
        width: 30%;
        padding: 5px;
        align-self: center;
        margin-left: 2em;
    }

   &_text{

    &_container{

        margin: 4em;
        width: 60%;
        height: auto;
        display: flex;
        align-items: center;

        .btn{

            color: #fff;
            cursor: pointer;
            font-size:16px;
            font-weight: 400;
            line-height: 45px;
            max-width: 130px; 
            position: relative;
            text-decoration: none;
            text-transform: uppercase; 
            width: 100%; 
            text-align: center;
            border: 1px solid whitesmoke;
            border-radius: 30px;
            transition: all 0.3s;

            &:hover{

                border: none;
                transition: all 0.5s;
                background-color: rgb(240, 51, 51);
            }

        }

    }

     &_title{
    
        
        font-size: 3.5em;
        padding: 5px;
        font-weight: bold;
    }

    &_discount{

        font-size: 1.5em;
        font-weight: bold;
    }

   }

}

  
 