.article {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;

  &_title {
    color: black;
    margin-top: 5px;
  }
  &_card {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

}
