.article {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../../Images/blurred-background.jpg) center/cover;
  background: #24c6dc;
  background: -webkit-linear-gradient(to left, #514a9d, #24c6dc);
  background: linear-gradient(to left, #514a9d, #24c6dc);
  & div.animate__animated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_title {
    color: black;
    margin-top: 5px;
  }
  &_card {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
