/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

//========================================================

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  // responsive Article.jsx
  .article {
  }
  // responsive Card.jsx

  .record-desc {
    overflow: hidden;
    margin: 20px 0 0 10px;
    max-width: 100%;
    max-height: 100%;
    h1 {
      margin: 5px 0;
      font-size: 1.2em !important;
      font-weight: 700;
    }
    p {
      font-size: 0.8em !important;
      line-height: 1em;
      color: #666;
    }
    opacity: 0;
    transition: opacity 400ms ease-in-out 190ms;
  }

  #record1 {
    transition: height 700ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
  }

  .record:hover .record-desc {
    opacity: 1;
  }

  .tagline {
    margin: 20px 0 !important;
    text-align: center;
    color: green;
  }

  .record-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & h1 {
      margin-top: 5px;
      color: gray;
      font-size: 1em;
      &:hover {
        color: black;
      }
    }
    & p {
      text-align: center;
      margin-top: 10px;
      line-height: normal;
      color: grey;
      font-size: 0.8em;
      &:hover {
        color: black;
      }
    }
    & button {
      margin-top: 20px !important;
      width: 20%;
      background-color: #f33c3c9f;
    }
  }
}

//========================================================

/* 
 ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  // responsive Article.jsx
  .article {
  }
  // responsive Card.jsx

  .record-desc {
    overflow: hidden;
    margin: 20px 0 0 10px;
    max-width: 100%;
    max-height: 100%;
    h1 {
      margin: 5px 0;
      font-size: 0.85em !important;
      font-weight: 700;
    }
    p {
      font-size: 0.6em !important;
      line-height: 1.4em;
      color: #666;
    }
    opacity: 0;
    transition: opacity 400ms ease-in-out 190ms;
  }

  #record1 {
    transition: height 700ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
  }

  .record:hover .record-desc {
    opacity: 1;
  }

  .tagline {
    margin: 20px 0 !important;
    text-align: center;
    color: green;
  }

  .record-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & h1 {
      margin-top: 5px;
      color: gray;
      font-size: 1em;
      &:hover {
        color: black;
      }
    }

    & button {
      margin-top: 20px !important;
      width: 40% !important;
      font-size: 0.8em !important;
      background-color: #f33c3c9f;
    }
  }
}

//========================================================

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  // responsive Article.jsx
  .article {
    height: 95vh;
    &_card {
      width: 100%;
      height: 93vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-direction: column;
    }
  }
  // responsive Card.jsx

  .record-desc {
    overflow: hidden;
    margin: 2px 0 0 5px;
    max-width: 100%;
    max-height: 100%;
    h1 {
      margin: 1px 0 !important;
      font-size: 0.9em !important;
      font-weight: 700;
    }
    p {
      font-size: 0.7em !important;
      line-height: 1em !important;
      color: #666;
    }
    opacity: 0;
    transition: opacity 400ms ease-in-out 190ms;
  }

  #record1 {
    transition: height 700ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
  }

  .record:hover .record-desc {
    opacity: 1;
  }

  .tagline {
    margin: 20px 0 !important;
    text-align: center;
    color: green;
  }

  .record-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & h1 {
      margin-top: 5px;
      color: gray;
      font-size: 1em;
      &:hover {
        color: black;
      }
    }
    & p {
      text-align: center;
      margin-top: 10px;
      line-height: normal;
      color: grey;
      font-size: 0.8em;
      &:hover {
        color: black;
      }
    }
    & button {
      font-size: 0.8em;
      margin-top: 2px !important;
      width: 20%;
      height: 35px;
      background-color: #f33c3c9f;
    }
  }
}
