.header {
  &_home {
    &_hero {
      margin: 2px 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;

      /*
      
      style for right page layout


    */

      &_right {
        height: 91vh;
        width: 70%;
        border: 1px solid red;
        background-color: violet;
      }

      /*

      style for left page layout

    */

      &_left {
        height: 91vh;
        width: 30%;
        border: 1px solid blue;

        // top

        &_top {
          width: 100%;
          height: 50%;
          border: 1px solid green;
          background-color: black;
        }

        //bottom

        &_bottom {
          width: 100%;
          height: 50%;
          border: 1px solid yellow;
        }
      }
    }
  }
}
