@import "./MediaQueries.scss";
.header {
  &_home {
    &_hero {
      margin: 2px 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;

      /*
      
      style for right page layout


    */

      &_right {
        height: 91vh;
        width: 70%;
        background: url("../../../Images//blurred-background.jpg") center/cover
          no-repeat;
      }

      /*

      style for left page layout

    */

      &_left {
        height: 91vh;
        width: 30%;
        background: url(../../../Images/bg4.jpg) center/cover no-repeat;

        // top

        &_top {
          width: 100%;
          height: 50%;
          overflow: hidden;
          justify-content: center;
          align-self: center;
          text-align: center;
          // background-color: black;
        }

        //bottom

        &_bottom {
          width: 100%;
          height: 50%;
          overflow: hidden;
          justify-content: center;
          align-self: center;
          text-align: center;
          // background-color: black;
          position: relative;
        }

        #BoxLoading {
          position: absolute;
        }
      }
    }
  }
}

.loading {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-self: center;
  border: 1px solid yellow;
}
