/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

//========================================================

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  // responsive Hero.jsx
  .header {
    &_home {
      &_hero {
        margin: 2px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &_right {
          height: 91vh;
          width: 100%;
          background: url("../../../Images//blurred-background.jpg")
            center/cover no-repeat;
        }

        &_left {
          display: none;
          #BoxLoading {
            position: absolute;
          }
        }
      }
    }
  }
}

//========================================================

/* 
 ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    &_home {
      &_hero {
        margin: 2px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        /*
      
      style for right page layout


    */

        &_right {
          height: 91vh;
          width: 50%;
          // background: url("../../../Images//blurred-background.jpg")
          //   center/cover no-repeat;
          background-color: yellow;
        }

        /*

      style for left page layout

    */

        &_left {
          height: 91vh;
          width: 50%;
          background: url(../../../Images/bg4.jpg) center/cover no-repeat;

          // top

          &_top {
            width: 100%;
            height: 50%;
            overflow: hidden;
            justify-content: center;
            align-self: center;
            text-align: center;
            // background-color: black;
          }

          //bottom

          &_bottom {
            width: 100%;
            height: 50%;
            overflow: hidden;
            justify-content: center;
            align-self: center;
            text-align: center;
            // background-color: black;
            position: relative;
          }

          #BoxLoading {
            position: absolute;
          }
        }
      }
    }
  } // responsive Hero.jsx
  .header {
    &_home {
      &_hero {
        margin: 2px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        
        &_right {
          height: 91vh;
          width: 100%;
          // background: url("../../../Images//blurred-background.jpg")
          //   center/cover no-repeat;
          background-color: yellow;
        }

        &_left {
          display: none;
          #BoxLoading {
            position: absolute;
          }
        }
      }
    }
  }
}

//========================================================

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    &_home {
      &_hero {
        margin: 2px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        /*
      
      style for right page layout


    */

        &_right {
          height: 91vh;
          width: 50%;
          // background: url("../../../Images//blurred-background.jpg")
          //   center/cover no-repeat;
          background-color: green;
        }

        /*

      style for left page layout

    */

        &_left {
          height: 91vh;
          width: 50%;
          background: url(../../../Images/bg4.jpg) center/cover no-repeat;

          // top

          &_top {
            width: 100%;
            height: 50%;
            overflow: hidden;
            justify-content: center;
            align-self: center;
            text-align: center;
            // background-color: black;
          }

          //bottom

          &_bottom {
            width: 100%;
            height: 50%;
            overflow: hidden;
            justify-content: center;
            align-self: center;
            text-align: center;
            // background-color: black;
            position: relative;
          }

          #BoxLoading {
            position: absolute;
          }
        }
      }
    }
  }
}
