.single_img{
  width: 600px;
  height: 400px;
}
 


.break {
  clear: both;
}

/* CONTENT */
#content {
  width: 100%;
  height: 90%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: row;
}
#content .info {
  padding: 10px;
}

/* MOVIE POSTERS */
#movieposters {
  list-style: none;
  margin: 100px 0;
  height: 550px;
}
#movieposters li {
  display: inline;
  float: left;
  -webkit-perspective: 500;
  -webkit-transform-style: preserve-3d;
  -webkit-transition-property: perspective;
  -webkit-transition-duration: 0.5s;
}
#movieposters li:hover {
  -webkit-perspective: 5000;
}

#movieposters li img {
  
  border: 10px solid #fcfafa;
  -webkit-transform: rotateY(20deg);
  -moz-box-shadow: 0 3px 10px #888;
  -webkit-box-shadow: 0 3px 10px #888;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.5s;
}
#movieposters li:hover img {
  -webkit-transform: rotateY(0deg);
}

.movieinfo {
  border: 10px solid #fcfafa;
  padding: 20px;
  width: 200px;
  height: 180px;
  background-color: #deddcd;
  margin: -195px 0 0 55px;
  position: absolute;
  -moz-box-shadow: 0 20px 40px #888;
  -webkit-box-shadow: 0 20px 40px #888;
  -webkit-transform: translateZ(20px) rotateY(20deg);
  -webkit-transition-property: transform, box-shadow, margin;
  -webkit-transition-duration: 0.5s;
}

#movieposters li:hover .movieinfo {
  -webkit-transform: rotateY(0deg);
  -webkit-box-shadow: 0 5px 10px #888;
  margin: -175px 0 0 30px;
}

.movieinfo h3 {
  color: blueviolet;
  font-variant: small-caps;
  font-family: Georgia, serif, Times;
  text-align: center;
  padding-bottom: 15px;
}
.movieinfo p {
  padding-bottom: 15px;
  color: blueviolet;
}
.movieinfo a {
  background-color: blueviolet;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  display: block;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.movieinfo a:hover,
.movieinfo a:focus {
  background-color: #6a191f;
  color: #fff;
}
