@import "../../../Scss/Button_Rest.scss";
.swiper {
  &_bottom {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    &_items {
      height: 100%;
      width: 100%;

      &_img {
        width: 200px;
        height: 200px;
        border-radius: 2px;
      }
    }
  }
}

#content {
  & .content {
    &_title {
    }
    &_img {
      position: relative;
      width: 50%;
      height: 50%;
      & ::before {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%
        );
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%
        );
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
      }

      & :hover::before {
        -webkit-animation: shine 0.75s;
        animation: shine 0.75s;
      }
      @-webkit-keyframes shine {
        100% {
          left: 125%;
        }
      }
      @keyframes shine {
        100% {
          left: 125%;
        }
      }
    }
    &_btn {
    }
  }
}

#swiper_top {
  margin: 30px auto;
  display: flex;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  & li {
    list-style: none;
  }

  & nav ul li a {
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 2px;
    &:hover {
      color: #f33c3c;
    }
  }

  & button {
        margin-top: 20px;

    background-color: black;
    border: 1px solid #f33c3c;
    border-radius: 5px;
    &:hover {
      border: 1px solid #0074d9;
      border-radius: 5px;
    }
  }

  & p {
    font-size: 1.4em;
    color: #f33c3c;
  }
}


