@import "../../../Scss/Button_Rest.scss";
.swiper {
  &_bottom {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    &_items {
      height: 100%;
      width: 100%;

      &_img {
        width: 200px;
        height: 200px;
        border-radius: 2px;
      }
    }
  }
}

#content {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  & .right {
    width: 50%;
    height: 100%;
    border: 1px solid red;

    &_img {
      margin-top: 40px;
      margin-right: 20px;
      width: 70%;
      height: 70%;
      transition-delay: 2s;
      transition: all 3s;
      transform: translateX(-10px) rotateZ(-5deg);




      
      &:hover {
        transition: all 1s;
        transform: translateX(20px) rotateZ(15deg);
      }
    }
  }

  & .left {
    width: 50%;
    height: 100%;
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_title {
      font-family: "IRANSans_Bold" !important;
      font-size: 1.6em;
      color: #f33c3c;
    }
    &_btn {
      display: flex;
      overflow: hidden;

      margin: 10px;
      padding: 12px 12px;
    }

    &_sidetxt {
    }
  }
}

//style for swiper top
#swiper_top {
  margin: 30px auto;
  display: flex;
  // background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  & li {
    list-style: none;
  }

  & nav ul li a {
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 2px;
    &:hover {
      color: #f33c3c;
    }
  }

  & button {
    margin-top: 20px;

    background-color: black;
    border: 1px solid #f33c3c;

    border-radius: 5px;
    &:hover {
      border: 1px solid #0074d9;
      border-radius: 5px;
    }
  }

  & p {
    font-size: 1.4em;
    color: white;
  }
}

//style for card

#card {
  opacity: 0.8 !important;

  .flip-boxes {
    justify-content: center;
  }
  .flip-box {
    display: flex;
    align-content: stretch;
    min-height: 200px;
    flex-wrap: wrap;
    position: relative;
    border: 10px solid transparent;
    padding: 0;
    border-top: 0;
    -webkit-perspective: 1000;
    perspective: 1000;

    &:hover {
      .back {
        transform: rotateY(0deg);
        z-index: 10;
      }

      .front {
        transform: rotateY(180deg);
        z-index: -1;
      }
    }

    .back,
    .front {
      position: relative;
      // background-color: #1b2d61;
      background-color: #0074d9;
      color: white;
      display: flex;
      justify-content: center;
      align-content: center;
      flex: 0 0 100%;
      -webkit-transition: all 1s cubic-bezier(0.5, 1, 0.5, 1);
      transition: all 1s cubic-bezier(0.5, 1.3, 0.5, 1.3);
      transform-style: preserve-3d;
      background-size: cover;
      background-position: center;
    }

    .back {
      background-color: #f33c3c;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
      transform: rotateY(-180deg);

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border: 15px solid transparent;
        border-bottom-color: white;
        border-left-color: white;
      }
    }

    .front {
      z-index: 10;

      .content {
        font-size: 2rem;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px;
        border: 15px solid #f33c3c;
        border-bottom-color: white;
        border-right-color: white;
      }
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
      text-shadow: 0px 0px 2px black;
    }
  }
}
