@import "../../../Scss/Button_Rest.scss";
.swiper {
  &_bottom {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    &_items {
      height: 100%;
      width: 100%;

      &_img {
        width: 200px;
        height: 200px;
        border-radius: 2px;
      }
    }
  }
}

#content {
  & .content {
    &_title {
    }
    &_img {
      position: relative;
      width: 50%;
      height: 50%;
      & ::before {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%
        );
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%
        );
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
      }

      & :hover::before {
        -webkit-animation: shine 0.75s;
        animation: shine 0.75s;
      }
      @-webkit-keyframes shine {
        100% {
          left: 125%;
        }
      }
      @keyframes shine {
        100% {
          left: 125%;
        }
      }
    }
    &_btn {
    }
  }
}

//style for swiper top
#swiper_top {
  margin: 30px auto;
  display: flex;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  & li {
    list-style: none;
  }

  & nav ul li a {
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 2px;
    &:hover {
      color: #f33c3c;
    }
  }

  & button {
    margin-top: 20px;

    background-color: black;
    border: 1px solid #f33c3c;
    border-radius: 5px;
    &:hover {
      border: 1px solid #0074d9;
      border-radius: 5px;
    }
  }

  & p {
    font-size: 1.4em;
    color: white;
  }
}

//style for card

#card {
  .flip-boxes {
    justify-content: center;
  }
  .flip-box {
    display: flex;
    align-content: stretch;
    min-height: 200px;
    flex-wrap: wrap;
    position: relative;
    border: 10px solid transparent;
    padding: 0;
    border-top: 0;
    -webkit-perspective: 1000;
    perspective: 1000;

    &:hover {
      .back {
        transform: rotateY(0deg);
        z-index: 10;
      }

      .front {
        transform: rotateY(180deg);
        z-index: -1;
      }
    }

    .back,
    .front {
      position: relative;
      // background-color: #1b2d61;
      background-color: #0074d9;
      color: white;
      display: flex;
      justify-content: center;
      align-content: center;
      flex: 0 0 100%;
      -webkit-transition: all 1s cubic-bezier(0.5, 1, 0.5, 1);
      transition: all 1s cubic-bezier(0.5, 1.3, 0.5, 1.3);
      transform-style: preserve-3d;
      background-size: cover;
      background-position: center;
    }

    .back {
      background-color: #f33c3c;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
      transform: rotateY(-180deg);

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border: 15px solid transparent;
        border-bottom-color: white;
        border-left-color: white;
      }
    }

    .front {
      z-index: 10;

      .content {
        font-size: 2rem;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px;
        border: 15px solid #f33c3c;
        border-bottom-color: white;
        border-right-color: white;
      }
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
      text-shadow: 0px 0px 2px black;
    }
  }
}
