.footer{

    &_container{

        height: 45vh;
        width: 98.7vw;
        background: #24C6DC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        // position: relative;
        // width: 100%;
        // overflow: hidden;
        // line-height: 0;

        // & svg{

        //     top: -2px;
        //     left: 0;
        //     position: absolute;
        //     display: block;
        //     width: calc(108% + 1.3px);
        //     height: 100px;
        //     transform: rotateY(180deg);

        // }

        // .shape-fill {
        //     fill: rgb(226, 216, 216);
        // }
        

    }

    &_top{

        height: 75%;
        width: 100%;
        display: flex;
        padding: 1em;
        justify-content: space-between;
        border-bottom: 1px solid rgb(196, 193, 193);

        & p{
            margin-top:10px;
        }

        & ul{

        }

        & li{
            display: flex;
            flex-direction: column;
            list-style: none;

            & a{
                text-decoration: none;
                color: black;
                padding: 3px;

                &:hover{
                    color: whitesmoke;
                }
            }
        }

        & h2{
            color: rgb(17, 15, 15);
        }

        &_right{

            width: 30%;

        }

        &_center_right{

            width: 20%;
        }

        &_center_left{
            width: 20%;
        }

        &_left{
            width: 10%;
        }

    }
}



.footer_bottom{

    display: flex;
    justify-content: space-between;
    height: 24%;
    align-items: center;



    &_right{

        padding: 7px;

        &_social_media {
            display: flex;
            flex-direction: column;
          }
        
          &_icons {
            display: flex;
            justify-content: center;
            align-self: center;
          }
        
          & h5 {
              
            align-self: center;
            margin-bottom: 0.8em;
            font-size: 1em;
          }
        
          & ul {
            display: flex;
          }
        
          & li {
            list-style: none;
            margin: 0 15px 0 15px;
            & svg {
                cursor: pointer;
              font-size: 1.5em;

              &:hover{
                color: rgb(214, 199, 199);
            }
            }
          }
    }


    
    &_left {
        
        height: auto;
        color: #000;
      
        &_container {
          display: flex;
          justify-content: space-between;
          margin: 0 0.5em;
          padding: 5px;
          // width: ;
      
          & ul {
            display: flex;
          }
      
          & li {
            list-style: none;
            margin: 0 15px 0 15px;
            & svg {
              font-size: 1em;
            }
          }
        }
      
        &_copyright {
            
          display: flex;
      
          & ul {
            position: relative;
            display: flex;

          }
      
          & li {
            list-style: none;
            margin: 0 3px 0 2px;
            & svg {
                margin-top: .3em;
              font-size: 15px;
            }
          }
      
          & a {
            text-decoration: none;
            color: #000;
            padding: 3px;

            &:hover{
                color: whitesmoke;
            }

          }

         
        }
      
        &_base_links {

            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: .3em;
                width: 1px;
                height: 1.07143rem;
                transform: translateY(-50%);
                border-right: 2px solid #7f817a;
              }

          li {

            position: relative;

          }
      
          a {
            color: #000;
            text-decoration: none;

            &:hover{
                color: whitesmoke;
            }
          }
      
          &_after::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -15px;
            width: 1px;
            height: 1.07143rem;
            transform: translateY(-50%);
            border-right: 2px solid #7f817a;
          }
        }
      }


}