 @media (min-width: 820px) and (max-width: 970px){
    // body {
    //   background-color: green;
    // }

   .footer_top{

    &_right{

      padding: 5px;

    
    }

    &_left{

      width: 35%;
      display: flex;
      flex-direction: column;

      &_newsletter_container{

        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-top: 1em;
      }
    }

    
   
   }
 
   
  }

  //========================================================
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 500px) and (max-width: 819px) {
    // body {
    //   background-color: yellow;
    // }

    .footer_container{
      height: auto;
    }
    .footer_top{

      // flex-direction: column;

      &_right{
  
        display: none;
  
      }
  
      &_left{
  
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
  
        &_newsletter_container{
  
          flex-wrap: wrap;
          align-items: center;
          flex-direction: column;
          justify-content: space-around;
          margin-top: 1em;
        }
      }
     
     }

  
}
  
  //========================================================
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 499px) {

    // body {
    //   background-color: gray;
    // }
   

    .footer_container{

      height: auto;
      flex-direction: row;
      flex-wrap: wrap;

    }

    .footer_top{

      flex-direction: column;
      align-items: center;

     
      
      & li{

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        & a{
         
          padding: 10px;
        }
      }

      & h2{

        margin: 10px;
      }

      &_right{
  
        display: none;
  
    
      }

      &_center_right{

        width: 95vw;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

       

      }

      &_center_left{
        display: flex;
        flex-direction: column;
        width: 90vw;
        align-items: center;
        justify-content: center;
      }
  
      &_left{
  
        width: 90vw;
        display: flex;
        flex-direction: column;
  
        &_newsletter_container{
  
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-around;
          margin-top: 1em;
        }
      }
     
     }




  
  }


 //========================================================
//Meadi Queri just for Footer Bottom

  @media (min-width: 320px) and (max-width: 588px){
    

    .footer_bottom{

      flex-direction: column;

      &_left_container{

        flex-direction: column;
        align-items: center;
      }
      
      &_left_copyright{
        text-align: center;
      }

      &_left_base_links{

        &::after {
          
          display: none;
         
        }

        &_after::after {
         
        display: none;
       
        }
      }

     }


  }

