.deals_container{
  width: 98.6vw;
  height: 60vh;
  background: url("../../../Images/parallax.jpg") center/cover no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  & h2{
    margin-top:35px ;
    
  }

}




.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-wrapper {
  // position: relative;
  width: 90vw;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  // background-color: aqua;

  & div{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

}


//edit classes swiper button for chaning color
//classes availabe in node_mdule folder--> swiper/components/navigation/navigation.scss

.swiper-button-prev,
.swiper-button-next{

  color: #C53333;
  background-color: transparent;
border: none;

}

.swiper-button-prev{

  right: -5px !important;
}
.swiper-button-next{

left: -5px !important;
}



//edit classes swiper pagination bullet for chaning color
//classes availabe in node_mdule folder--> swiper/components/pagination/pagination.scss


.swiper-pagination-bullet{

  background: rgb(192, 21, 21);
 

}


