.discount{

    &_container{

        display:flex;
        height:70%;
        width: 80%;
        background-color: #F0F1F4;
        // margin-top: 10%;
    
    }


    &_details{

        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        height: 90%;
        width: 30%;

        & h3 , span {
            margin-bottom: 25px;
        }

        &_price{
           
            display: inline-block;
            color: #909297;
            font-size: 20px;

            & span{

                margin-left: 5px;
            }

            &_ins{

                font-size: 25px;
                font-weight: 500;
                color: #f33c3c;
            }

            &_del{

                position: relative;
                font-size: 18px;

                &::before{

                    content: '';
                    position: absolute;
                    bottom: 45%;
                    left: 18%;
                    width: 30px;
                    border-bottom: 1.3px solid;
                    transform: rotate(-45deg);
                    // right: 18%;
                    
                }

            }
        }

        &_save_money{

            position: relative;
            height: 36px;
            width: auto;
            background: linear-gradient(to left, #45b649 0%, #6ce86d 50%, #45b649 100%);
            background-size: 200% 100% !important;
            border-radius: 34px 0 0 34px;
            margin-left: auto;
            margin-right: -27px;
            text-transform: uppercase;
            

            &::before{

                content: '';
                position: absolute;
                left: auto;
                right: 0;
                bottom: -5px;
                border-style: solid;
                border-width: 0 0 5px 5px;
                border-color: transparent transparent transparent #145116;
            }

            & span{
                margin: 0 !important;
            }

            &_amount{
               font-weight:bold;
                color: rgb(243, 22, 22);
                padding: 5px;
            }
        }

    }

    &_image{

        width: 50%;
        height: 90%;

    }
}
