@media (min-width: 768px) {
}

//========================================================

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .hero_blog_nav {
    width: 70% !important;

    & ul li a {
      color: red !important;
    }
  }
}

//========================================================

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .hero_blog_nav {
    width: 70% !important;

    & ul li a {
      color: green !important;
    }
  }
}
