@media (min-width: 481px) and (max-width: 767px) {
  .hero_blog_nav {
    width: 70% !important;
  }
}

@media (min-width: 240px) and (max-width: 480px) {
  .hero_blog_nav {
    width: 90% !important;
  }
  .card_blog {
    width: 75vw !important;
  }
}
