 @media (min-width: 768px){
    // body {
    //   background-color: green;
    // }

    .header_home_nav{
      display: flex;
      
  }

    .header_home_res_nav{
        
        display: none;
        
    }
   
  }

  //========================================================
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    // body {
    //   background-color: yellow;
    // }

    .header_home_nav{
        display: none;
    }

    //class is add & remove when user click in a shoppingcart icon...
.basket_modals{

  width: 45%;
  
}

.basket_cart_res_items{

  
  &_title{
      
      width: 70%;
      margin-right: 1em;
     
  }
}

  }
  
  //========================================================
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    // body {
    //   background-color: gray;
    // }
    .header_home_nav{
        display: none;
    }

    .basket_modals{

      width: 50%;
      
    }

    .basket_cart_res_items{

  
      &_title{
          
          width: 70%;
          margin-right: 1em;
         
      }
  }


  }