.header_home_nav {

      height: 7vh;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: green;
      margin: 0 auto;

    &_right{

      display: flex;
      height: 100%;
      width: 70%;
      justify-content: flex-start;
      align-items: center;
      // background-image: url(../../../Images/navbar_right_background.png);
      background: linear-gradient(90deg, rgba(228,238,199,1) 0%, rgba(0,212,255,1) 44%);

      & a {
        margin: 0 10px;
        color: white;
        text-decoration: none;
        padding: 5px;
      }

    }

    &_left{

      display: flex;
      width: 30%;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(270deg, rgba(228,238,199,1) 0%, rgba(0,212,255,1) 44%);
       
    

        
        & svg {

          font-size: 1.5em;
          align-items: center;
        }

        

        & a{

          color: #fff;
          text-decoration: none;
          display: block;

        }

     &_rightItems{

       display: flex;
       justify-content: flex-end;
       width: 70%;
       
       & a{

        margin: 10px;

        :hover{
          color: rgb(153, 151, 151) !important;
        }

       }

     }

     &_leftItem{

      display: flex;
      justify-content: center;
      height: 7.5vh;
      width: 7vw;
      background-color: black;

      & a{
        display: table;
        margin: 0 auto;
        margin-top: 1em;
      }

     }
      
      }

    
}

