.header_home_nav {

      height: 10vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: green;
      margin: 0 auto;

    &_right{

      display: flex;
      width: 70%;

      & a {
        margin: 0 10px;
        color: white;
        text-decoration: none;
      }

    }
}

