$blue: #341cac;

.card_blog {
  width: 30%;
  height: 90%;
  &_card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
}
 

$blue: #341cac;

body,
html {
  font-family: "Montserrat", sans-serif;
  background-color: $blue;
}

.card_blog {
  width: 300px;
  display: block;
  margin: 60px auto -30px auto;
  box-shadow: 10px 5px 40px 20px darken(#341cac, 5%);
  transition: 0.25s;

  &:hover {
    box-shadow: 10px 5px 40px 20px darken(#341cac, 10%);
    cursor: pointer;
    .card-header--title {
      font-size: 1.2em;
      transition: font-size 0.3s;
    }
    .date {
      color: #f33c3c;
    }
    .button-primary {
      transform: translate(-10px, 0);
      color: #f33c3c;
      &_btn {
        color: #f33c3c;
      }
    }
  }
}

.card-header {
  height: 150px;
  width: 100%;
  padding: 15px;
  width: 100%;
  background-size: cover;
  color: #fff;
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  background-color: #fff;
  width: 100%;
}

.date {
  font-size: 11px;
  font-weight: 600;
  color: $blue;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color: transparent;
  color: $blue;
  font-size: 15px;
  transition: 0.25s;

  .button-primary &_btn {
    margin-left: 10px;
  }
}

.designer-link {
  color: #fff;
  text-align: center;
  fon-size: 12px;
  text-decoration: none;
  display: block;
}

.app-header {
  display: block;
  padding: 30px;
}

.app-title {
  display: inline-block;
  width: 100%;
  margin: 80px 0 0 0;
  float: left;
  position: relative;
  color: #fff;

  @media (min-width: 768px) {
    width: 20%;
    margin: 280px 0 0 0;
  }

  h1 {
    font-size: 52px;
    margin: 0;
  }

  p {
    font-weight: 200;
    opacity: 0.5;
  }
}

.app-title-content {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);

  @media (min-width: 768px) {
    width: auto;
    position: absolute;
    text-align: left;
  }
}

.app-card-list {
  display: inline-block;
  width: 100%;
  float: right;
  margin: 0;
  min-height: 75vh;
  white-space: normal;
  overflow-x: scroll;
  margin-top: -70px;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 768px) {
    width: 80%;
    white-space: nowrap;
    margin-top: 0;
  }

  .card {
    margin: 60px 30px;
    display: inline-block;

    .card-body {
      white-space: normal;
    }
  }
}

.designer-link {
  display: inline-block;
  padding-top: 40px;
}
