.header_home_nav_right{

&_logo{

    height: 7vh;
    width: 7vw;
    padding: 2px;
    margin: 0 10px;  

}


//********************************************
//استایل های مگا منو قسمت خانه در صفحه اصلی

&_home{

    position: relative;
    &:hover{
        color: rgb(243, 53, 53);
    }

   
   
    &_menu{

        display: flex;
        height: 70vh;
        width: 60vw;
        position: absolute;
        background-color: rgb(212, 208, 208);
        justify-content: space-between;
        align-items: center;
        color: black;
        top: 3.2em;
        opacity: 0;
        padding: 20px;
        // transition:linear .4s opacity;
        transform: translateY(15px);
        transition: transform .2s linear;
        pointer-events: none;
        border-radius:5px ;

        &_image{


            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 10px;
            width: 65%;
            height: 90%;
            padding: 0;
            
            &_item{

                padding: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }

        }

        &_insta{

        
            width: 35%;
            height: 90%;
            background-image: url('../../../../Images/mega_menu/home/home-insta.jpg');
        }
    }
}



//********************************************
//استایل های مگا منو قسمت فروشگاه در صفحه اصلی

&_shop{


    position: relative;

    &:hover{
        color: rgb(243, 53, 53);
    }



 &_menu{

    display: flex;
    height: 60vh;
    width: 70vw;
    position: absolute;
    opacity: 0;
    background-color: rgb(212, 208, 208);
    justify-content: flex-start;
    // align-items: center;
    // color: black;
    top: 3.2em;
    flex-wrap: wrap;
    padding: .5em;
    transform: translateY(15px);
    transition: transform .2s linear;
    pointer-events: none;
    border-radius:5px;
  

    &_items{

        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        align-items: center;
        height: 40%;
        width: 30%;



          

    & h4 {

        color: black;
        margin-top: 10px;
        margin-bottom: 20px;
        position: relative;

        &::after{

            content: "";
            position: absolute;
            top: 1.7em;
            width: 100%;
            left: 0;
            border-top: 1px solid #636364;
        }
    }

    & ul{

        list-style: none;
        

        & a{
            color: black;
            display: block;
            padding: 0;
            margin: 0;
            height: 2em;

            &:hover{

                color: rgb(243, 53, 53);
            }
        }
    }
    }
 }
    


}

//********************************************
//استایل های مگا منو قسمت بلاگ در صفحه اصلی

&_blog{

    position: relative;
    &:hover{
        color: rgb(243, 53, 53);
    }

    &_menu{

        display: flex;
        height: 35vh;
        width: 35vw;
        position: absolute;
        opacity: 0;
        background-color: rgb(212, 208, 208);
        justify-content: space-around;
        // align-items: center;
        // color: black;
        top: 3.2em;
        flex-wrap: wrap;
        padding: .5em;
        transform: translateY(15px);
        transition: transform .2s linear;
        pointer-events: none;
        border-radius:5px;
      
    
        &_items{
    
            display: flex;
            flex-direction: column;
            // flex-wrap: wrap;
            align-items: center;
            height: 40%;
            width: 30%;
    
    
    
              
    
        & h4 {
    
            color: black;
            margin-top: 10px;
            margin-bottom: 20px;
            position: relative;
    
            &::after{
    
                content: "";
                position: absolute;
                top: 1.7em;
                width: 100%;
                left: 0;
                border-top: 1px solid #636364;
            }
        }
    
        & ul{
    
            list-style: none;
            
    
            & a{
                color: black;
                display: block;
                padding: 0;
                margin: 0;
                height: 2em;
    
                &:hover{
    
                    color: rgb(243, 53, 53);
                }
            }
        }
        }
     }




}






}

//has_sub و sub_menu
//کلاس های اضافه شده به المنت هستن برای زمانی که قرار است مگا منو
//نمایش داده شود

.has_sub_menu:hover .sub_menu{

        opacity: 1;
        pointer-events: auto;
        transform: translateY(0px);
     
    }


.sub_menu{
    z-index: 10;
}





