.header_home_nav_right{

&_logo{

    height: 6vh;
    width: 6vw;
    padding: 2px;
    margin: 0 20px;  

}

&_home{

    position: relative;
   
    &_menu{

        display: flex;
        height: 70vh;
        width: 75vw;
        position: absolute;
        background-color: rgb(212, 208, 208);
        justify-content: space-between;
        align-items: center;
        color: black;
        top: 2.8em;
        opacity: 0;
        padding: 20px;
        // transition:linear .4s opacity;
        transform: translateY(15px);
        transition: transform .2s linear;
        pointer-events: none;
        border-radius:5px ;

        &_image{


            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 10px;
            width: 70%;
            height: 90%;
            padding: 0;
            
            &_item{

                padding: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }

        }

        &_insta{

        
            width: 35%;
            height: 90%;
            background-image: url('../../../../Images/mega_menu/home/home-insta.jpg');
        }
    }
}



//********************************************
//استایل های مگا منو قسمت فروشگاه در صفحه اصلی

&_shop{


    position: relative;


 &_menu{

    position: absolute;



    & ul{

        list-style: none;
    }
 }
    


}







}

//has_sub و sub_menu
//کلاس های اضافه شده به المنت هستن برای زمانی که قرار است مگا منو
//نمایش داده شود

.has_sub_menu:hover .sub_menu{

        opacity: 1;
        pointer-events: auto;
        transform: translateY(0px);
     
    }


.sub_menu{
    z-index: 10;
}





