.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  &_nav {
    width: 100%;
    height: 7.3vh;
  }
  
  &_hero {
    width: 100%;
    height: 30vh;
    background-image: url(../Images/Blog/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
  }
  &_article {
    width: 100%;
    height: auto;
     background: #24c6dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #514a9d,
      #24c6dc
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #514a9d,
      #24c6dc
    );
  }
  &_footer {
    margin-top: 50px;
    width: 100%;
    height: 45vh;
  }
}
