.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  &_nav {
    width: 100%;
    height: 7.3vh;
  }
  &_hero {
    width: 100%;
    height: 30vh;
    background-image: url(../Images/Blog/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
  }
  &_article {
    width: 100%;
    height: 80vh;
    // background-color: green;
  }
  &_footer {
    width: 100%;
    height: 20vh;
    background-color: pink;
  }
}
