.featuers_cart{

    width: 25vw;
    height:35vh ;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  

    & img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: -3px -5px 53px -5px rgba(0,0,0,0.55);
    }

    & p{
        
        color: rgb(241, 229, 229);
    }

}

.featuers_cart_price{

    font-size: 28px;
    font-weight: bold;
    color: #adaeaf;
}