.tabs{

    height: 60vh;
    width: 98.5vw;
    background-color: rgb(231, 232, 235);
   
&_container{

    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    & h2{

        flex-grow: 1;
        margin-top:2em ;
        margin-left: 5em;
        margin-right: 1em;
        font-weight: bold;

    }

    &_tab{
        margin-top:2em ;
        flex-grow: 3;
    }

    
    & a{

        cursor: pointer;
        margin: 1em;
        text-decoration: none;
        color: black;
        position: relative;
        justify-content: center;
        align-self: center;
        overflow: hidden;

        

        &:hover{

            color: #f33c3c;
        
        }



    }


}

&_panel_container{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    height: 85%;
}
}