.hero_blog {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1 {
      color: white;
      font-family: "IRANSans_Bold" !important;
      position: relative;
      &::before {
        content: "  ــــــــــــــ  ";
        position: absolute;
        top: 25px;
        left: -10px;
        margin-bottom: 5px;
        color: #f33c3c;
        opacity: 0.8;
      }
    }

    &_item {
      margin-top: 12px;
      font-size: 0.8em;
      color: white;
      font-family: "IRANSans" !important;
    }
  }
  &_nav {
    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 20px 0px 0px 0px;
    height: 12vh;
    position: absolute;
    bottom: -38px;
    width: 40vw;
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }

    & ul {
      display: flex;
      justify-content: center;
      align-items: center;
      & li {
        margin: 0 10px;
        list-style: none;
        & .hvr_line_active {
          list-style: none;
          text-decoration: none;
          color: black;
          position: relative;
          color: #f33c3c;

          &::before {
            bottom: -3px;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #f33c3c;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 100%;
            left: 0;
          }

          &:hover,
          &:active {
            color: #f33c3c;
          }
        }
        & .hvr_line_disable {
          list-style: none;
          text-decoration: none;
          color: black;
          position: relative;
          color: blalck;

          &:hover,
          &:active {
            color: #f33c3c;
          }
        }
      }
    }
  }
}
