.hero_blog {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1 {
      color: white;
      font-family: "IRANSans_Bold" !important;
      position: relative;
      &::before {
        content: "  ــــــــــــــ  ";
        position: absolute;
        top: 25px;
        left: -10px;
        margin-bottom: 5px;
      }
    }

    &_item {
        margin-top: 12px;
        font-size: 0.8em;
      color: white;
      font-family: "IRANSans" !important;
    }
  }
  &_nav {
  }
}
