.hero_blog {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1 {
      color: white;
      font-family: "IRANSans_Bold" !important;
      position: relative;
      &::before {
        content: "  ــــــــــــــ  ";
        position: absolute;
        top: 25px;
        left: -10px;
        margin-bottom: 5px;
      }
    }

    &_item {
      margin-top: 12px;
      font-size: 0.8em;
      color: white;
      font-family: "IRANSans" !important;
    }
  }
  &_nav {
    margin: 20px 0px 0px 0px;
    height: 30%;
    width: 40%;
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    & ul {
      display: flex;
      justify-content: center;
      align-items: center;
      & li {
        margin: 0 10px;
        list-style: none;
        & a {
          list-style: none;
          text-decoration: none;
          color: white;
          &:hover,
          &:active {
            color: black;
          }
        }
      }
    }
  }
}
