.product{

    
    
&_container{

    height: 110vh;
    width: 100%;
    display: flex;
    margin-top: 3em;
    padding: 2px;

}


&_items{

    border: 1px solid black;
    width: 70%;
    height: 105%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &_filter{

        height: 8vh;
        width: 98%;
        margin: 5px;
        border: 1px solid coral;
        text-align: center;
    }

    &_cards{

        height: 100%;
        width: 98%;
      
    }
    
}

&_divisions{

    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red;
    width: 30%;
    height: 105%;
    margin-left:3px;

    & h3{
      
        margin-bottom: 10px;
        // padding: 10px;
        border-bottom: 1px solid rgb(128, 127, 127);
    }


    // ---------style for faction Component--------

    &_faction{

        width: 98%;
        height: 45%;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


        &_item{

            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: nowrap;
            flex-direction: column;
            background-color:#3460FC;
            height: 34%;
            width: 33%;

            &:hover{
                cursor: pointer;
                background-color: rgb(41, 86, 247);
            }

            &:hover p{

                color: rgb(233, 80, 80);
            }

            &:hover img{

                transform: scale(1.08);
            }
           
            
            & img{
                height: 50%;
                width: auto;

               
            }

            & p{

                height: 15%;
                color: whitesmoke;
                font-size: 14px;
            }

        }

    }

    &_price{

        width: 98%;
        height: 20%;
        margin-top: 5px;
        text-align: center;
        background-color: whitesmoke;
        border: 1px solid rgb(190, 188, 188);
        border-radius: 5px;

    }

    &_brands{

        width: 98%;
        height: 33%;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &_title{

            margin: 1em;
        }

        &_item{

            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: nowrap;
            flex-direction: column;
            background-color:#3460FC;
            height: 50%;
            width: 33%;

            &:hover{
                cursor: pointer;
                background-color: rgb(41, 86, 247);
            }

            &:hover p{

                color: rgb(233, 80, 80);
            }

            &:hover img{

                transform: scale(1.08);
                animation: heartBeat;
            }
            
            & img{
                height: 35%;
                width: auto;
            }

            & p{

                height: 10%;
                color: whitesmoke;
                font-size: 14px;

                
            }

        }
    
    }
}

}